<section class="contact">
  <div class="contact__container wow fadeIn">
    <h3 class="contact__title">KONTAKT</h3>
    <div class="contact__wrapper">
      <h4 class="contact__name">Wojciech Hryniewicki</h4>
      <i class="fas fa-phone"></i>
      <a href="tel:555-555-555" class="contact__text">+48 555-555-555</a>
      <i class="fas fa-envelope"></i>
      <a href="mailto:whtrener@gmail.com" class="contact__text"> whtrener@gmail.com</a>
    </div>
  </div>
</section>
<app-footer></app-footer>
