@import '~src/styles/custom';
@import '~src/styles/variables';
@import '~src/styles/mixins';

.contact {
  padding: 0 16px;
  margin: 50px 0 30px;
  min-height: calc(100vh - 197px);
  display: grid;
  align-items: center;

  &__container {
    display: grid;
    gap: 40px;
  }

  &__title {
    @include title;
    text-align: center;
    margin-bottom: 15px;

    @include media-desktop {
      margin-bottom: 25px;
    }
  }

  &__wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 20px;
  }

  &__name {
    @include sub-title;
    color: #fff;
  }

  &__text {
    color: #fff;

    @include media-tablet {
      font-size: 20px;
    }

    @include media-desktop {
      font-size: 24px;
    }
  }
}
