@import '~src/styles/custom';
@import '~src/styles/variables';
@import '~src/styles/mixins';

.about-me {

  &__hero-section {
    height: 100vh;
    background: url('../../../assets/dumbbell-1966247_1920.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }

  &__hero-section-title {
    @include title;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__introduce-section {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 25px;
    @include space;

    @include media-desktop {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__introduce-image {
    max-width: 100%;
  }

  &__introduce-wrapper {
    @include space;
  }

  &__introduce-title {
    @include sub-title;
    color: #fff;

    &--color {
      @include color-title;
    }
  }

  &__introduce-text {
    @include text;
  }

  &__card-section {
    @include space;
    background-color: #1D1919;
    overflow-y: hidden;

    @include media-desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 25px;
    }
  }

  &__card-title {
    @include sub-title;
    color: #fff;

    &--color {
      @include color-title;
    }

    @include media-desktop {
      grid-area: 1 / 1 / 2 / 3;
    }
  }

  &__card-wrapper {
    @include space;
  }

  &__card-wrapper-title {
    @include sub-title;
    color: #fff;
  }

  &__card-wrapper-text {
    @include text;
  }

  &__gallery {}

  &__gallery-title {
    @include title;
    text-align: center;

  }

  &__gallery-container {
    @include space;

  }
}
