<section class="forgot background center">
  <h3 class="forgot__title title-section">PRZYPOMNIJ HASŁO</h3>
  <div class="forgot__container max-width">
    <form autocomplete="off" [formGroup]="forgotForm" class="forgot__form">
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input type="email" matInput formControlName="email" name="email">
        <mat-error>
          Wpisz poprawny e-mail
        </mat-error>
      </mat-form-field>
      <button type="button" (click)="forgotPassword()" [disabled]="!forgotForm.valid"
        class="button forgot__button"><span *ngIf="!forgotForm.valid">WPISZ E-MAIL</span> <span
          *ngIf="forgotForm.valid">REJESTRUJ</span></button>
    </form>
  </div>
</section>
