<div class="popup">
    <span class="popup__icon">✏</span>
    <h2 class="sub-title">Zmień hasło</h2>
    <mat-dialog-content>
        <form autocomplete="off" [formGroup]="passwordForm" class="popup__form">
            <mat-form-field appearance="outline">
                <mat-label>Hasło</mat-label>
                <input type="password" matInput formControlName="password" name="password">
                <mat-error>
                    Wpisz hasło (minimum 6 znaków)
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Powtórz hasło</mat-label>
                <input type="password" matInput formControlName="confirmPass" name="confirmPass">
                <mat-error>
                    Hasła muszą być takie same
                </mat-error>
            </mat-form-field>
            <button type="submit" (click)="changePassword()" [disabled]="!passwordForm.valid"
                class="button popup__button-ok">
                <span class="button__text" *ngIf="!passwordForm.valid && !showLoader">WYPEŁNIJ POLE</span>
                <span class="button__text" *ngIf="passwordForm.valid && !showLoader">ZMIEŃ</span>
                <mat-spinner *ngIf="showLoader" [diameter]="31"></mat-spinner>
            </button>
        </form>
    </mat-dialog-content>
    <button [mat-dialog-close]="true" class="popup__close-button"><i class="fas fa-times"></i></button>
</div>