@import '../../../styles/breakpoints';
@import '../../../styles/variables';

.footer {
  background-color: $secondary-color;
  padding: 2rem 1rem;
  color: #fff;

  &__container {
    display: grid;
    gap: 2rem;
  }

  &__links {
    display: grid;
    justify-content: center;
    gap: 2rem;
    text-align: center;

    @include breakpoint(tablet) {
      display: flex;
      flex-direction: row;
    }
  }

  &__link {
    cursor: pointer;
    outline: none;

    @include breakpoint(phablet) {
      margin: 0 10px;
    }

    @include breakpoint(laptop) {
      margin: 0 30px;
    }
  }

  &__icons {
    display: flex;
    justify-content: center;
    font-size: 3rem;
  }

  &__icon {
    color: #fff;
    transition: .3s;

    &--fb {
      margin-right: 40px;
    }

    &--ig {
      margin-left: 40px;
    }

    &:hover {
      color: $primary-color;
    }
  }
}
