<footer class="footer">
  <div class="footer__container max-width">
    <ul class="footer__links">
      <li class="footer__link hover" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Strona główna</li>
      <li class="footer__link hover">O mnie</li>
      <li class="footer__link hover">Współpraca</li>
      <li class="footer__link hover">Kontakt</li>
      <li class="footer__link hover" routerLinkActive="active" routerLink="/blog">Blog</li>
      <li class="footer__link hover">Strefa podopiecznego</li>
    </ul>
    <div class="line"></div>
    <p style="text-align:center">LOGO</p>
    <div class="footer__icons">
      <p style="margin-right: 20px;">FB</p>
      <p style="margin-left: 20px;">IG</p>
    </div>
  </div>
</footer>
