<section class="footer black wow fadeIn" data-wow-delay="0.2s">
  <div class="footer__container">
    <div class="footer__icons">
      <a class="wow fadeIn" data-wow-delay="0.5s" href="#"><img src="../../../assets/facebook-round_3_orig.png"
          alt=""></a>
      <a class="wow fadeIn" data-wow-delay="1s" href="#"><img src="../../../assets/instagram-round-new-100_1.png"
          alt=""></a>
    </div>
    <hr class="wow fadeIn" data-wow-delay="1.5s">
    <p class="footer__created-by wow fadeIn" data-wow-delay="2s">Created by <a class="footer__color"
        href="mailto:wpzawadzki.m@gmail.com">Mateusz
        Zawadzki</a></p>
  </div>
</section>
