<div class="popup">
  <span class="popup__icon">✔</span>
  <h2 class="sub-title">Rejestracja przebiegła prawidłowo!</h2>
  <mat-dialog-content>
    <p class="text">Aby dokończyć etap rejestracji należy wejść na skrzynkę pocztową i potwierdzić rejestrację.</p>
    <p class="text popup__warning">Bez tego kroku nie będziesz mógł się zalogować na konto.</p>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="closeRegistePopup()" class="button popup__button">OK</button>
  </mat-dialog-actions>
</div>
