<section class="settings background">
  <h3 class="settings__title title-section ">USTAWIENIA</h3>
  <div class="settings__container max-width">
    <button (click)="openPopup(ChangeNamePopupComponent)" class="button">Zmień nazwę profilu</button>
    <button (click)="openPopup(ChangeEmailPopupComponent)" class="button">Zmień e-mail</button>
    <button (click)="openPopup(ChangePasswordPopupComponent)" class="button">Zmień hasło</button>
    <button (click)="openPopup(DeleteAccountPopupComponent)" class="button settings__button">Usuń konto</button>
  </div>
</section>
