<section id="hero" class="hero-section background center">
  <div class="hero-section__container max-width">
    <h3 class="sub-title">Witaj</h3>
    <h2 class="title hero-section__title">Wojciech
      Hryniewicki
    </h2>
    <h1 class="sub-title">Trener personalny</h1>
    <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae porro enim esse eius repudiandae
      quaerat pariatur
      reprehenderit culpa, cupiditate nostrum ab accusamus assumenda voluptate eum molestiae aperiam libero saepe
      necessitatibus.</p>
    <button (click)="scrollToTarget('cooperation')" class="button hero-section__button">Współpraca <i
        class="fas fa-chevron-right"></i></button>
  </div>
</section>
<section id="about-me" class="about-me background center">
  <h3 class="about-me__title title-section">O MNIE</h3>
  <div class="about-me__container max-width">
    <img src="../../../assets/ezgif.com-webp-to-jpg (7).jpg" alt="" class="about-me__photo">
    <div class="about-me__text-wrapper">
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eius, rerum
        facere corporis sint
        aperiam unde minima aliquid nemo magni dolore numquam officiis non fuga voluptate consequatur atque aut dicta!
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et dolorum doloribus quisquam doloremque eveniet
        incidunt nam obcaecati labore, accusantium saepe. Nam quia adipisci quod, totam sapiente fugiat in recusandae
        eligendi. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit similique a deleniti dolorem
        aspernatur ipsa, iusto ipsam? Dolor amet quidem, ullam laborum corrupti, eaque labore molestias voluptates ex
        aliquid ratione!
      </p>
    </div>
  </div>
</section>
<section id="cooperation" class="cooperation background center">
  <div class="cooperation__container">
    <h3 class="title-section cooperation__title">WSPÓŁPRACA</h3>
    <article class="cooperation__card">
      <div class="cooperation__card-box">
        <i class="fas fa-check cooperation__icon"></i>
      </div>
      <h4 class="cooperation__card-title">TYTUŁ</h4>
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima impedit nihil blanditiis optio
        tenetur, asperiores maiores odit cum, recusandae temporibus reiciendis vero! Autem vero quibusdam quam
        temporibus alias quos! Perferendis.</p>
    </article>
    <article class="cooperation__card">
      <div class="cooperation__card-box">
        <i class="fas fa-clipboard-check cooperation__icon"></i>
      </div>
      <h4 class="cooperation__card-title">TYTUŁ</h4>
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima impedit nihil blanditiis optio
        tenetur, asperiores maiores odit cum, recusandae temporibus reiciendis vero! Autem vero quibusdam quam
        temporibus alias quos! Perferendis.</p>
    </article>
    <article class="cooperation__card">
      <div class="cooperation__card-box"><i class="fas fa-dumbbell cooperation__icon"></i></div>
      <h4 class="cooperation__card-title">TYTUŁ</h4>
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima impedit nihil blanditiis optio
        tenetur, asperiores maiores odit cum, recusandae temporibus reiciendis vero! Autem vero quibusdam quam
        temporibus alias quos! Perferendis.</p>
    </article>
  </div>
</section>
<section class="slider background center">
  <div class="slider__container max-width">
    <h3 class="slider__title title">TYTUŁ</h3>
    <h4 class="sub-title">PODTYTUŁ</h4>
    <p class="slider__text text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu arcu condimentum,
      sagittis
      erat ut, commodo nunc. Duis bibendum justo vitae ante cursus, quis porttitor mi consequat. Phasellus lacus risus,
      egestas a odio vitae, venenatis posuere velit. Fusce ut egestas tortor. Sed fermentum felis sit amet est bibendum,
      non tempor turpis ornare. </p>
    <p class="slider__check text"><i class="fas fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Morbi eu
      arcu condimentum,
      sagittis</p>
    <p class="slider__check text"><i class="fas fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Morbi eu
      arcu condimentum,
      sagittis</p>
    <p class="slider__check text"><i class="fas fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Morbi eu
      arcu condimentum,
      sagittis</p>
    <p class="slider__check text"><i class="fas fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Morbi eu
      arcu condimentum,
      sagittis</p>
    <p class="slider__check text"><i class="fas fa-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Morbi eu
      arcu condimentum,
      sagittis</p>
  </div>
</section>
<section class="opinion background center">
  <h3 class="about-me__title title-section">OPINIE</h3>
  <div class="opinion__container">
    <div class="opinion__card opinion__card-one opinion__card--one">
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu arcu condimentum, sagittis erat
        ut, commodo nunc. Duis bibendum justo vitae ante cursus, quis porttitor mi consequat. Phasellus lacus risus,
      </p>
    </div>
    <div class="opinion__card opinion__card-two opinion__card--two">
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu arcu condimentum, sagittis erat
        ut, commodo nunc. Duis bibendum justo vitae ante cursus, quis porttitor mi consequat. Phasellus lacus risus,
      </p>
    </div>
    <div class="opinion__card opinion__card-three opinion__card--three">
      <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu arcu condimentum, sagittis erat
        ut, commodo nunc. Duis bibendum justo vitae ante cursus, quis porttitor mi consequat. Phasellus lacus risus,
      </p>
    </div>
  </div>
</section>
<section class="bmi background center">
  <div class="bmi__container">
    <h3 class="bmi__title title-section">SPRAWDŹ SWOJE BMI</h3>
    <form class="bmi__form" [formGroup]="bmiForm">
      <mat-form-field appearance="outline">
        <mat-label>Waga</mat-label>
        <input type="number" matInput formControlName="weight" name="weight">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Wzrost</mat-label>
        <input type="number" matInput formControlName="height" name="height">
      </mat-form-field>
      <button type="button" (click)="calculateBmi()" [disabled]="!bmiForm.valid" class="button">SPRAWDŹ</button>
    </form>
    <p *ngIf="!!resultBmi" class="sub-title">Twoje BMI to: <span class="title">{{resultBmi | number}}</span>
    </p>
    <p *ngIf="!!resultBmi" class="title">{{textBmi}}</p>
    <p class="text">
      Zakres wartości BMI:<br>
      mniej niż 16 - wygłodzenie<br>
      16 - 16.99 - wychudzenie<br>
      17 - 18.49 - niedowaga<br>
      18.5 - 24.99 - wartość prawidłowa<br>
      25 - 29.99 - nadwaga<br>
      30 - 34.99 - I stopień otyłości<br>
      35 - 39.99 - II stopień otyłości<br>
      powyżej 40 - otyłość skrajna
    </p>
  </div>
</section>
<section id="contact" class="contact center">
  <h3 class="contact__title title-section">KONTAKT</h3>
  <div class="contact__container title">
    <div class="contact__wrapper">
      <i class="fas fa-phone contact__phone"></i>
      <p class="contact__phone-title">Telefon</p>
      <a class="contact__font-size hover-effect" href="tel:555-555-5555">500-500-500</a>
    </div>
    <div class="contact__wrapper">
      <i class="far fa-clock contact__clock"></i>
      <p class="contact__clock-title">Godziny pracy</p>
      <p class="contact__font-size">8.00 - 17.00</p>
    </div>
  </div>
</section>
