<section class="hero-section background">
  <div class="hero-section__container max-width">
    <h3 class="sub-title">Witaj</h3>
    <h2 class="title hero-section__title">Wojciech
      Hryniewicki
    </h2>
    <h1 class="sub-title">Trener personalny</h1>
    <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae porro enim esse eius repudiandae
      quaerat pariatur
      reprehenderit culpa, cupiditate nostrum ab accusamus assumenda voluptate eum molestiae aperiam libero saepe
      necessitatibus.</p>
    <button class="button hero-section__button">Współpraca <i class="fas fa-chevron-right"></i></button>
  </div>
</section>
<section class="about-me background">
  <h3 class="title-section">O MNIE</h3>
  <div class="about-me__container max-width">
    <img src="../../../assets/ezgif.com-webp-to-jpg (7).jpg" alt="" class="about-me__photo">
    <div class="about-me__text-wrapper">
      <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas eius, rerum facere corporis sint
        aperiam unde minima aliquid nemo magni dolore numquam officiis non fuga voluptate consequatur atque aut dicta!
      </p>
    </div>
  </div>
</section>




























<section class="cooperation background">

</section>
<section class="slider background">
</section>

<section class="opinion background">
</section>

<section class="bmi background">
</section>

<section class="contact background">
</section>
