<div class="popup">
    <span class="popup__icon">✉</span>
    <h2 class="sub-title">Skontaktuj się ze mną!</h2>
    <mat-dialog-content>
        <form autocomplete="off" [formGroup]="contactForm" class="popup__form">
            <mat-form-field appearance="outline">
                <mat-label>Imię</mat-label>
                <input matInput formControlName="name" name="name">
                <mat-error>
                    Wpisz imię
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" name="email">
                <mat-error>
                    Wpisz poprawny e-mail
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Wiadomość</mat-label>
                <textarea formControlName="message" name="message" matInput cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
            </mat-form-field>
            <button type="submit" (click)="sendMessage()" [disabled]="!contactForm.valid"
                class="button popup__button-ok">
                <span class="button__text" *ngIf="!contactForm.valid && !showLoader">WYPEŁNIJ WSZYTSKIE POLA</span>
                <span class="button__text" *ngIf="contactForm.valid && !showLoader">ZALOGUJ</span>
                <mat-spinner *ngIf="showLoader" [diameter]="31"></mat-spinner>
            </button>
        </form>

    </mat-dialog-content>
    <button [mat-dialog-close]="true" class="popup__close-button"><i class="fas fa-times"></i></button>
</div>