<section class="details max-width">
    <h3 class="title-section">{{user?.displayName}}</h3>
    <img class="details__avatar" [src]="user?.photoURL">
    <div class="details__container">
        <p class="details__status" [ngClass]="{'premium': statusAccount(), 'no-premium': !statusAccount()}">Status
            konta:
            <span *ngIf="statusAccount()">Aktywne</span>
            <span *ngIf="!statusAccount()">Nieaktywne</span>
        </p>
        <button class="details__button details__button--active" *ngIf="!user?.premium"
            (click)="changeAccountStatus(true)">Aktywuj
            konto</button>
        <button class="details__button details__button--inactive" *ngIf="user?.premium"
            (click)="changeAccountStatus(false)">Dezaktywuj
            konto</button>
        <ul class="details__menu">
            <li class="details__item hover" id="Wykresy" [ngClass]="{'activeTab': activeTab === 'Wykresy'}"
                (click)="changeTab($event)">
                <mat-icon id="Wykresy">bar_chart</mat-icon> <span id="Wykresy">Wykresy</span>
            </li>
            <li class="details__item hover" id="Ankieta" [ngClass]="{'activeTab': activeTab === 'Ankieta'}"
                (click)="changeTab($event)">
                <mat-icon id="Ankieta">insert_comment</mat-icon> <span id="Ankieta">Ankieta</span>
            </li>
            <li class="details__item hover" id="Suplementacja" [ngClass]="{'activeTab': activeTab === 'Suplementacja'}"
                (click)="changeTab($event)">
                <mat-icon id="Suplementacja">tonality</mat-icon> <span id="Suplementacja">Suplementacja</span>
            </li>
            <li class="details__item hover" id="Dieta" [ngClass]="{'activeTab': activeTab === 'Dieta'}"
                (click)="changeTab($event)">
                <mat-icon id="Dieta">restaurant</mat-icon> <span id="Dieta">Dieta</span>
            </li>
            <li class="details__item hover" id="Trening" [ngClass]="{'activeTab': activeTab === 'Trening'}"
                (click)="changeTab($event)">
                <mat-icon id="Trening">sports</mat-icon> <span id="Trening">Trening</span>
            </li>
            <li class="details__item hover" id="Raport" [ngClass]="{'activeTab': activeTab === 'Raport'}"
                (click)="changeTab($event)">
                <mat-icon id="Raport">assignment</mat-icon> <span id="Raport">Raport</span>
            </li>
        </ul>
        <p class="details__title sub-title">{{activeTab}}</p>
        <ng-container *ngIf="activeTab === 'Wykresy'">
            Test Wykresy
        </ng-container>
        <ng-container *ngIf="activeTab === 'Ankieta'">
            <form autocomplete="off" [formGroup]="questionaireForm" class="details__questionaire">
                <mat-form-field appearance="outline">
                    <mat-label>Pytanie nr {{questionsList.length + 1}}</mat-label>
                    <textarea formControlName="question" name="question" matInput cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
                </mat-form-field>
                <button class="button details__questionaire-button" type="submit" (click)="addQuestion()"
                    [disabled]="!questionaireForm.value.question">
                    DODAJ PYTANIE
                </button>
            </form>
            <p class="details__title sub-title">Lista pytań</p>
            <p *ngIf="questionsList?.length === 0" class="details__title">Lista jest pusta. Dodaj pytania do
                podopiecznego.</p>
            <ng-container *ngIf="questionsList?.length !== 0">
                <div *ngFor="let question of questionsList, let i = index" class="details__question-container">
                    <p class="details__question">
                        Pytanie nr {{i + 1}}: <span class="details--bold">{{question?.question}}</span>
                    </p>
                    <p *ngIf="question.answer !== ''" class="details__question">
                        Odpowiedź: <span class="details--bold">{{question?.answer}}</span>
                    </p>
                    <button matTooltip="Usuń pytanie" (click)=deleteQuestion(question.id)>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </ng-container>

        </ng-container>
        <ng-container *ngIf="activeTab === 'Suplementacja'">
            Test Suplementacja
        </ng-container>
        <ng-container *ngIf="activeTab === 'Dieta'">
            Test Dieta
        </ng-container>
        <ng-container *ngIf="activeTab === 'Trening'">
            Test Trening
        </ng-container>
        <ng-container *ngIf="activeTab === 'Raport'">
            Test Raport
        </ng-container>
    </div>
</section>