@import '~src/styles/custom';
@import '~src/styles/variables';
@import '~src/styles/mixins';

.home-page {
  max-width: 2000px;
  margin: 0 auto;
  overflow: hidden;

  &__image-list {
    height: calc(100vh - 56px)
  }

  &__title {
    @include title;
  }

  &__divider {
    background-color: $primary-color;
  }

  &__sub-title {
    font-size: $font-sub-title-mobile;
    text-align: left;
    font-family: $karla;
    font-weight: bold;
    font-style: italic;

    @include media-tablet {
      font-size: $font-sub-title-tablet;
    }

    @include media-desktop {
      font-size: $font-sub-title-desktop;
      text-align: center;
    }
  }

  &__container-welcome {
    display: grid;
    padding: 75px 16px 0;
    gap: 25px;

    @include media-desktop {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__image-thumb {
    width: 75px;

    @include media-tablet {
      width: 100px;
    }
  }

  &__container-welcome-text {
    align-self: center;
  }

  &__welcome-title {
    @include sub-title;
    color: #fff;

    @include media-desktop {
      padding: 75px 0;
    }
  }

  &__color {
    @include color-title;
  }

  &__welcome-text {
    @include text;
  }

  &__container-cards {
    padding: 75px 16px 0;
    display: grid;
    gap: 30px;
    text-align: center;
  }

  &__card-title {
    @include sub-title;
    color: #fff;
  }

  &__card {
    display: grid;
    gap: 25px;
    justify-items: center;
    padding: 35px 25px;
    border-radius: 20px;
    align-items: center;

    @include media-tablet {
      grid-template-columns: 200px 300px;
      justify-content: center;
    }

    @include media-desktop {
      grid-template-columns: 375px 375px;
      gap: 50px;
    }
  }

  &__card-box {
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, $primary-color 0%, $secondary-color 100%);
    transform: rotate(45deg);
    margin: 0 auto;
    transition: .3s;

    &:hover {
      transform: rotate(0);
    }
  }

  &__card-sub-title {
    font-weight: bold;
    color: #fff;
  }

  &__card-text {
    @include text;
  }

  &__you-get {
    background-color: #1D1919;
  }

  &__container-you-get {
    padding: 25px 16px;
    display: grid;
    gap: 25px;

    @include media-desktop {
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  &__wrapper-you-get {
    display: grid;
    gap: 25px;
  }

  &__you-get-title {
    @include sub-title;
    color: #fff;
  }

  &__you-get-text {
    @include text;
  }

  &__container-articles {
    padding: 75px 16px;
    display: grid;
    gap: 50px;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }

  &__articles-title {
    @include sub-title;
    color: #fff;
  }

  &__articles-wrapper {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    border-radius: 20px;
    align-items: center;
    position: relative;
  }

  &__articles-img {
    height: 400px;
    width: 100%;
    background: url('../../../assets/background_hero.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  &__articles-sub-title {
    margin: 20px 0 0;
    color: #fff;
  }

  &__articles-date {
    margin: 0;
    @include text;
    font-size: 12px;
  }

  &__articles-text {
    padding: 0 25px;
    margin: 20px 0 40px;
    color: #fff;
  }

  &__articles-button {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    background: linear-gradient(45deg, $primary-color 0%, $secondary-color 100%);
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
  }
}
