<section class="home-page">
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
    uk-slideshow="autoplay: true; animation: push;">
    <ul class="home-page__image-list uk-slideshow-items">
      <li>
        <img src="../../../assets/background_hero.jpg" alt="" uk-cover>
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 class="home-page__title wow fadeIn" data-wow-delay="0.2s"
            uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">
            WOJCIECH<br>HRYNIEWICKI</h2>
          <hr class="home-page__divider wow fadeIn" data-wow-delay="0.4s">
          <h1 class="home-page__sub-title wow fadeIn" data-wow-delay="0.6s"
            uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">TRENER<br>PERSONALNY</h1>
        </div>
      </li>
      <li>
        <img src="../../../assets/ezgif.com-webp-to-jpg (1).jpg" alt="" uk-cover>
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 class="home-page__title" uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">WOJCIECH<br>HRYNIEWICKI</h2>
          <hr class="home-page__divider">
          <p class="home-page__sub-title" uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">TRENER<br>PERSONALNY</p>
        </div>
      </li>
      <li>
        <img src="../../../assets/ezgif.com-webp-to-jpg.jpg" alt="" uk-cover>
        <div class="uk-position-center uk-position-small uk-text-center">
          <h2 class="home-page__title" uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0">WOJCIECH<br>HRYNIEWICKI</h2>
          <hr class="home-page__divider">
          <p class="home-page__sub-title" uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">TRENER<br>PERSONALNY</p>
        </div>
      </li>
    </ul>
    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
      uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
      uk-slideshow-item="next"></a>
  </div>
  <ul class="uk-slideshow-nav uk-dotnav uk-flex-center"></ul>
  <div class="home-page__container-welcome">
    <div class="uk-position-relative" uk-slideshow="animation: fade">
      <ul class="uk-slideshow-items">
        <li>
          <img src="../../../assets/background_hero.jpg" alt="" uk-cover>
        </li>
        <li>
          <img src="../../../assets/ezgif.com-webp-to-jpg (1).jpg" alt="" uk-cover>
        </li>
        <li>
          <img src="../../../assets/ezgif.com-webp-to-jpg.jpg" alt="" uk-cover>
        </li>
      </ul>
      <div class="uk-position-bottom-center uk-position-small">
        <ul class="uk-thumbnav">
          <li uk-slideshow-item="0"><a href="#"><img src="../../../assets/background_hero.jpg"
                class="home-page__image-thumb" alt=""></a>
          </li>
          <li uk-slideshow-item="1"><a href="#"><img src="../../../assets/ezgif.com-webp-to-jpg (1).jpg"
                class="home-page__image-thumb" alt=""></a></li>
          <li uk-slideshow-item="2"><a href="#"><img src="../../../assets/ezgif.com-webp-to-jpg.jpg"
                class="home-page__image-thumb" alt=""></a></li>
        </ul>
      </div>
    </div>
    <div class="home-page__container-welcome-text">
      <h2 class="home-page__welcome-title wow fadeIn" data-wow-duration="1s" data-wow-offset="100"><span
          class="home-page__color">WITAM</span>
        NA MOJEJ STRONIE</h2>
      <p class="home-page__welcome-text wow fadeInUp" data-wow-duration="1s" data-wow-offset="100">
        Cras ante enim, molestie dapibus
        urna
        eget, condimentum placerat lectus.
        Maecenas vulputate, tortor vel
        egestas
        consectetur, enim metus efficitur
        tellus,
        at dapibus tortor enim in nisl. Duis
        sit
        amet orci facilisis, scelerisque odio
        vel.</p>
    </div>
  </div>
  <div class="home-page__container-cards">
    <h2 class="home-page__card-title wow fadeIn" data-wow-duration="1s" data-wow-offset="100"><span
        class="home-page__color">W CZYM</span> MOGĘ CI
      POMÓC?
    </h2>
    <section class="home-page__card wow fadeInUp" data-wow-duration="1s" data-wow-offset="100">
      <div>
        <div class="home-page__card-box"></div>
        <h3 class="home-page__card-sub-title">ANALIZA WYNIKÓW</h3>
      </div>
      <div class="home-page__card-text">
        Cras ante enim, molestie dapibus
        urna eget, condimentum placerat
        lectus. Maecenas vulputate, tortor
        vel egestas consectetur, enim
        metus efficitur tellus, at dapibus
        tortor enim in nisl. Duis sit amet
        orci facilisis, scelerisque odio vel.
      </div>
    </section>
    <section class="home-page__card wow fadeInUp" data-wow-duration="1s" data-wow-offset="100">
      <div class="home-page__card-image">
        <div class="home-page__card-box"></div>
        <h3 class="home-page__card-sub-title">PODNOŚ SWOJE
          UMIEJĘTNOŚCI</h3>
      </div>
      <div class="home-page__card-text">
        Cras ante enim, molestie dapibus
        urna eget, condimentum placerat
        lectus. Maecenas vulputate, tortor
        vel egestas consectetur, enim
        metus efficitur tellus, at dapibus
        tortor enim in nisl. Duis sit amet
        orci facilisis, scelerisque odio vel.
      </div>
    </section>
    <section class="home-page__card wow fadeInUp" data-wow-duration="1s" data-wow-offset="100">
      <div class="home-page__card-image">
        <div class="home-page__card-box"></div>
        <h3 class="home-page__card-sub-title">OSIĄGNIJ SWOJE IDEALNE
          CIAŁO</h3>
      </div>
      <div class="home-page__card-text">
        Cras ante enim, molestie dapibus
        urna eget, condimentum placerat
        lectus. Maecenas vulputate, tortor
        vel egestas consectetur, enim
        metus efficitur tellus, at dapibus
        tortor enim in nisl. Duis sit amet
        orci facilisis, scelerisque odio vel.
      </div>
    </section>
  </div>
  <div class="home-page__you-get">
    <div class="home-page__container-you-get">
      <div class="home-page__wrapper-you-get">
        <h3 class="home-page__you-get-title  wow fadeIn" data-wow-duration="1s" data-wow-offset="100"><span
            class="home-page__color">CO ZYSKASZ</span> PRACUJĄC ZE MNĄ?</h3>
        <div class="home-page__you-get-text wow fadeInUp" data-wow-duration="1s" data-wow-offset="100">Cras ante enim,
          molestie dapibus
          urna
          eget, condimentum placerat lectus.
          Maecenas vulputate, tortor vel egestas
          consectetur, enim metus efficitur
          tellus,
          at dapibus tortor enim in nisl. Duis sit
          amet orci facilisis, scelerisque odio
          vel.</div>
      </div>
      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: scale">
        <ul class="uk-slideshow-items">
          <li>
            <img src="../../../assets/background_hero.jpg" alt="" uk-cover>
          </li>
          <li>
            <img src="../../../assets/ezgif.com-webp-to-jpg (1).jpg" alt="" uk-cover>
          </li>
          <li>
            <img src="../../../assets/ezgif.com-webp-to-jpg.jpg" alt="" uk-cover>
          </li>
        </ul>
        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
          uk-slideshow-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
          uk-slideshow-item="next"></a>
        <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>
      </div>
    </div>
  </div>
  <div class="home-page__container-articles">
    <h2 class="home-page__articles-title  wow fadeIn" data-wow-duration="1s" data-wow-offset="100"><span
        class="home-page__color">NAJNOWSZE
        ARTYKUŁY</span> NA BLOGU
    </h2>
    <article class="home-page__articles-wrapper wow fadeInUp" data-wow-duration="1s" data-wow-offset="100"
      data-wow-delay="0.2s">
      <div class=" home-page__articles-img">
      </div>
      <h3 class="home-page__articles-sub-title">Nagłówek</h3>
      <p class="home-page__articles-date">01.01.2020</p>
      <p class="home-page__articles-text"> Cras ante enim, molestie dapibus
        urna eget, condimentum placerat
        lectus. Maecenas vulputate, tortor
        vel egestas consectetur, enim
        metus efficitur tellus, at dapibus
        tortor enim in nisl. Duis sit amet
        orci facilisis, scelerisque odio vel.</p>
      <button class="home-page__articles-button">Czytaj więcej</button>
    </article>
    <article class="home-page__articles-wrapper wow fadeInUp" data-wow-duration="1s" data-wow-offset="100"
      data-wow-delay="0.4s">
      <div class=" home-page__articles-img">
      </div>
      <h3 class="home-page__articles-sub-title">Nagłówek</h3>
      <p class="home-page__articles-date">01.01.2020</p>
      <p class="home-page__articles-text"> Cras ante enim, molestie dapibus
        urna eget, condimentum placerat
        lectus. Maecenas vulputate, tortor
        vel egestas consectetur, enim
        metus efficitur tellus, at dapibus
        tortor enim in nisl. Duis sit amet
        orci facilisis, scelerisque odio vel.</p>
      <button class="home-page__articles-button">Czytaj więcej</button>
    </article>
    <article class="home-page__articles-wrapper wow fadeInUp" data-wow-duration="1s" data-wow-offset="100"
      data-wow-delay="0.6s">
      <div class=" home-page__articles-img">
      </div>
      <h3 class="home-page__articles-sub-title">Nagłówek</h3>
      <p class="home-page__articles-date">01.01.2020</p>
      <p class="home-page__articles-text"> Cras ante enim, molestie dapibus
        urna eget, condimentum placerat
        lectus. Maecenas vulputate, tortor
        vel egestas consectetur, enim
        metus efficitur tellus, at dapibus
        tortor enim in nisl. Duis sit amet
        orci facilisis, scelerisque odio vel.</p>
      <button class="home-page__articles-button">Czytaj więcej</button>
    </article>
  </div>
</section>
<!-- <app-footer></app-footer> -->
