@import '../../styles/breakpoints';

.page-not-found {
  height: 100vh;
  background: url('../../assets/home-11-bg-01.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  padding: 1rem;

  @include breakpoint(laptop) {
    height: calc(100vh - 210px);
  }

  &__container {
    display: grid;
    justify-items: center;
    align-content: center;
    height: 100%;
    text-align: center;
    gap: 2rem;
  }

  &__number {
    font-size: 6rem;

    @include breakpoint(phablet) {
      font-size: 8rem;
    }

    @include breakpoint(laptop) {
      font-size: 10rem;
    }
  }
  &__back {
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }
}
