<section class="list max-width">
    <h3 class="title-section ">LISTA PODOPIECZNYCH</h3>
    <div class="list__container">
        <table>
            <thead>
                <tr>
                    <th class="list__avatar"></th>
                    <th>Nazwa</th>
                    <th class="list__email">Email</th>
                    <th>Opcje</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList">
                    <ng-container *ngIf="user.admin !== true">
                        <td class="list__avatar"><img class="list__avatar" [src]="user.photoURL" alt=""></td>
                        <td>{{user.displayName}}</td>
                        <td class="list__email">{{user.email}}</td>
                        <td class="list__options">
                            <mat-icon matTooltip="Zobacz więcej" class="list__icon" [routerLink]="['/lista', user.uid]">
                                edit</mat-icon>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>
</section>