@import '../styles/variables';
@import '../styles/breakpoints';

.button {
  border: none;
  padding: 1rem;
  background-color: $primary-color;
  font-family: 'Righteous', cursive;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  transition: .3s;

  &:hover {
    box-shadow: 0px 15px 25px -5px rgba($secondary-color, 40%);
    transform: scale(1.03);
  }

  &:active {
    box-shadow: 0px 4px 8px rgba($secondary-color, 30%);
    transform: scale(.98);
  }
}

input,
mat-label {
  font-family: 'Raleway', sans-serif;

}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: $secondary-light-color;
  }

  .mat-form-field-ripple {
    background-color: $secondary-light-color;
  }

  .mat-form-field-required-marker {
    color: $secondary-light-color;
  }

  .mat-input-element {
    color: $secondary-light-color;
  }
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: $secondary-light-color;
  }

  .mat-form-field-label {
    color: $secondary-light-color;
  }

  .mat-form-field-underline {
    background-color: $secondary-light-color;
  }

  .mat-form-field-ripple {
    background-color: $secondary-light-color;
  }

  .mat-form-field-required-marker {
    color: $secondary-light-color;
  }
}
