@mixin media-tablet {
  @media (min-width : $tabletBreakpoint) {
    @content;
  }
}

@mixin media-desktop {
  @media (min-width : $desktopBreakpoint) {
    @content;
  }
}

@mixin media-large-desktop {
  @media (min-width : $largeDesktopBreakpoint) {
    @content;
  }
}

@mixin title {
  font-size: $font-title-mobile;
  font-weight: bold;
  text-align: left;
  background: linear-gradient(45deg, $primary-color 0%, $secondary-color 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;

  @include media-tablet {
    font-size: $font-title-tablet;
  }

  @include media-desktop {
    font-size: $font-title-desktop;
    text-align: center;
  }
}


@mixin sub-title {
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 1px;
  font-style: italic;
  font-size: 28px;
  font-family: $roboto;
  text-align: center;
  margin: 0;

  @include media-tablet {
    font-size: 50px;
  }
}

@mixin color-title {
  background: linear-gradient(45deg, $primary-color 0%, $secondary-color 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin text {
  color: #fff;
  text-align: center;
}

@mixin space {
  padding: $space-vertical $space-horizontal;

  @include media-desktop {
    padding: $space-vertical*2 $space-horizontal*2;

  }
}
