// font-family: 'Righteous', cursive;
// font-family: 'Raleway', sans-serif;
// font-family: 'Montserrat', sans-serif;
@import '../styles/breakpoints';

.title {
  font-family: 'Righteous', cursive;
  font-size: 3rem;

  @include breakpoint(phablet) {
    font-size: 4rem;
  }

  @include breakpoint(laptop) {
    font-size: 5rem;
  }
}

.sub-title {
  font-family: 'Raleway', cursive;
  font-size: 2rem;

  @include breakpoint(phablet) {
    font-size: 3rem;
  }

  @include breakpoint(laptop) {
    font-size: 4rem;
  }
}

.title-section {
  font-family: 'Righteous', cursive;
  font-size: 2rem;
  position: relative;

  @include breakpoint(phablet) {
    font-size: 3rem;
  }

  @include breakpoint(laptop) {
    font-size: 4rem;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    height: 10px;
    width: 80px;
    background-color: #fff;
  }
}

.text {
  font-size: 1.1rem;
  line-height: 1.65;
}
