$font-title-mobile: 40px;
$font-title-tablet: 60px;
$font-title-desktop: 80px;

$font-sub-title-mobile: 30px;
$font-sub-title-tablet: 50px;
$font-sub-title-desktop: 70px;



$oswald: 'Oswald',
sans-serif;
$karla: 'Karla',
sans-serif;
$roboto: 'Roboto',
sans-serif;


$primary-color: #FFD86F;
$secondary-color: #FC6262;

$tabletBreakpoint: 600px;
$desktopBreakpoint: 992px;
$largeDesktopBreakpoint: 1366px;

$space-vertical: 25px;
$space-horizontal: 16px;
