// font-family: 'Roboto', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Karla', sans-serif;

html,
a {
  font-family: 'Oswald', sans-serif;
}

body,
html {
  background-color: #F6F6F6 !important;
  scroll-behavior: smooth;
}

.navbar-toggler {
  padding: 0;
}

.ngx-pagination {
  padding: 0;
}

.my-pagination .ngx-pagination .current {
  background: linear-gradient(40deg, #FFD86F, #FC6262);
}

/* UIkit */
@import "../../node_modules/uikit/src/scss/variables-theme";
@import "../../node_modules/uikit/src/scss/mixins-theme";
@import "../../node_modules/uikit/src/scss/uikit-theme";
/* Custom Variables */
@import 'variables';
@import 'mixins';
@import 'custom';
