@import '~src/styles/custom';
@import '~src/styles/variables';
@import '~src/styles/mixins';

.new-post {
  background-color: #fff;

  &__container {
    padding: 106px 16px 0;
    margin: 0 auto;
    max-width: 1200px;
    min-height: calc(100vh - 106px);
  }

  &__form {
    margin-top: 50px;
  }

  &__content-container {
    padding: 0 16px;
    text-align: center;
    margin: 0 auto;

    @include media-tablet {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }

    @include media-desktop {
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
    }
  }

  &__content-post-icon-container {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
  }

  &__content-post {
    margin: 0 0 50px;
    overflow: hidden;
  }

  &__content-post-image {
    height: 100px;
  }

  &__content-post-category {
    margin: 5px;
    color: $secondary-color;
  }

  &__content-post-date {
    color: #000;
    margin: 5px;
    opacity: 0.5;
  }

  &__content-post-title {
    margin: 10px 0;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__content-post-text {
    font-size: 14px;
  }

  &__content-post-button {
    border-radius: 20px;
  }
}

.fas,
.far {
  color: #000;
}

.editor {
  position: relative;
  z-index: 0;
}
