<section class="login">
    <div class="login__container">
        <h4 class="login__title">LOGOWANIE</h4>
        <form [formGroup]="loginForm" (ngSubmit)="login()" class="login__form">
            <div class="md-form">
                <mdb-icon fas icon="at" class="prefix"></mdb-icon>
                <input autocomplete="off" formControlName="email" mdbInput type="text" id="email" class="form-control">
                <label for="email">E-mail</label>
            </div>
            <div class="md-form">
                <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
                <input autocomplete="off" formControlName="password" mdbInput type="password" id="password"
                    class="form-control">
                <label for="password">Hasło</label>
            </div>
            <button type="submit" [disabled]="!loginForm.valid" gradient="peach" rounded="true" mdbWavesEffect
                mdbBtn>Zaloguj
                się</button>
        </form>
    </div>
</section>
<app-footer></app-footer>