<section class="blog">
  <div class="blog__container max-width">
    <div *ngIf="(list | blog: searchText).length > 0; else noResults" class="blog__posts-list">
      <article @listAnimation class="post" *ngFor="let post of list | blog: searchText; let i = index">
        <h3 class="post__title">{{post.title}}</h3>
        <p>Napisał <span class="yellow">{{post.author}}</span></p>
        <p>{{post.date}}</p>
        <img [src]=post.photo alt="" class="post__photo">
        <p class="post__text text">{{post.text}}</p>
        <p class="post__category">Kategoria: <span class="yellow">{{post.category}}</span></p>
        <button class="button post__button">Czytaj więcej</button>
        <div class="line"></div>
      </article>
    </div>
    <ng-template #noResults>
      <p style="justify-self: center; align-self: center; min-height: 50px;">Nie znaleziono postu dla "{{searchText}}".
      </p>
    </ng-template>
    <aside class="blog-aside">
      <h4 class="blog-aside__title">SZUKAJ POSTU</h4>
      <div class="blog-aside__input-container">
        <mat-form-field errorState="true">
          <mat-label>Szukaj</mat-label>
          <input matInput [(ngModel)]="searchText" name="searchText">
        </mat-form-field>
      </div>
      <div class="line"></div>
      <h4 class="blog-aside__title">KATEGORIE</h4>
      <div class="blog-aside__category">
        <button (click)="filterCategory($event)" class="button blog-aside__button-category">Wszystkie</button>
        <button (click)="filterCategory($event)" class="button blog-aside__button-category">Sport</button>
        <button (click)="filterCategory($event)" class="button blog-aside__button-category">Siłownia</button>
        <button (click)="filterCategory($event)" class="button blog-aside__button-category">Odżywianie</button>
      </div>
    </aside>
  </div>
</section>
