<section class="blog">
  <div class="blog__container max-width">
    <div class="blog__posts-list">
      <app-post-list titlePost="A Unique Approach to Design Combined with Knowledge of What You Need"
        authorPost="Wojciech Hryniewicki" datePost="22.04.2020" photoPost="../../../assets/abs-1850926_1280.jpg"
        contentPost="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae libero, adipisci neque,
      eligendi, blanditiis explicabo eveniet distinctio sed molestias autem ipsa architecto sequi veniam aspernatur
      enim cumque dolorem aliquid totam?" categoryPost="Sport"></app-post-list>
      <app-post-list titlePost="Lorem ipsum dolor sit amet consectetur, adipisicing elit."
        authorPost="Wojciech Hryniewicki" datePost="22.04.2023" photoPost="../../../assets/abs-1850926_1280.jpg"
        contentPost="Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae libero, adipisci neque,
      eligendi, blanditiis explicabo eveniet distinctio sed molestias autem ipsa architecto sequi veniam aspernatur
      enim cumque dolorem aliquid totam?" categoryPost="Siłownia"></app-post-list>
    </div>
    <aside class="blog-aside">
      <h4 class="blog-aside__title">SZUKAJ PO NAZWIE W TYTULE</h4>
      <form class="blog-aside__input-container">
        <button>Wyszukaj</button>
      </form>
    </aside>
  </div>
</section>
