@import "../../../../styles/variables";
@import "../../../../styles/components";

.dashboard {
  margin: 0 auto;
  &__container {
    margin-top: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
  }

  &__wrapper {
    line-height: 2rem;
    padding: 2rem 0;
  }

  &__description-wrapper {
    display: grid;
    justify-items: center;
    padding: 2rem 0;
  }

  &__title-wrapper {
    font-weight: bold;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__text-wrapper {
    line-height: 2rem;
  }
}
