@import "../../../../styles/variables";
@import "../../../../styles/components";

.settings {
  &__container {
    display: grid;
    gap: 2rem;
    margin: 5rem auto 0;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
    max-width: 500px;
  }

  &__button {
    background-color: $warning;
  }
}
