@import '~src/styles/custom';
@import '~src/styles/variables';
@import '~src/styles/mixins';

.post {
  margin-top: 56px;
  position: relative;
  color: #000;

  &__back-button {
    position: fixed;
    padding: 5px 8px;
  }

  &__image {
    display: block;
    margin: 0 auto;
    width: 1300px;
  }

  &__container {
    padding: 20px;
    background-color: #fff;
    margin: -40px 16px 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 1200px;

    @include media-desktop {}

    @media (min-width: 1264px) {
      margin: -40px auto 40px;
    }
  }

  &__title {}

  &__date {}

  &__sub-title {}

  &__html-content {}



}


.class {
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
