<section class="contact">
    <h3 class="contact__title title-section">KONTAKT</h3>
    <div class="contact__container title">
        <div class="contact__wrapper">
            <i class="fas fa-phone contact__phone"></i>
            <p class="contact__phone-title">Telefon</p>
            <a class="contact__font-size hover-effect" href="tel:555-555-5555">500-500-500</a>
        </div>
        <div class="contact__wrapper">
            <i class="far fa-clock contact__clock"></i>
            <p class="contact__clock-title">Godziny pracy</p>
            <p class="contact__font-size">8.00 - 17.00</p>
        </div>
    </div>
</section>