@import "../../../styles/components";

.contact {
    background: url("../../../assets/home-11-bg-01.jpg");
    min-height: calc(100vh - 243px);
    padding-top: 100px;

    &__title {
      color: #000;
    }
  
    &__container {
      display: grid;
      gap: 5rem;
      padding: 5rem 0;
      color: #000;
  
      @include breakpoint(laptop) {
        grid-template-columns: 1fr 1fr;
      }
    }
  
    &__wrapper {
      display: grid;
      justify-items: center;
      text-align: center;
      gap: 1rem;
    }
  
    &__font-size {
      color: #000;
      font-size: 2.6rem;
    }
  
  }