// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$whWebsite-primary: mat-palette($mat-indigo);
$whWebsite-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$whWebsite-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$whWebsite-theme: mat-light-theme($whWebsite-primary, $whWebsite-accent, $whWebsite-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($whWebsite-theme);

@import './styles/reset';
@import './styles/base';
@import './styles/typography';
@import './styles/variables';

.line {
  height: 2px;
  background-color: $primary-color;
}

.max-width {
  max-width: 1300px;
  margin: 0 auto;
}

.hover {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: $primary-color;
    transition: all 0.3s ease 0s;
  }

  &:hover::after {
    width: 100%;
  }
}

.active {
  outline: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: $primary-color;
  }
}

.yellow {
  color: $primary-color;
}
