<header>
  <nav class="top-nav">
    <div class="top-nav__container">
      <div>
        Logo
      </div>
      <input class="menu-toggle" id="menu-toggle" type="checkbox" />
      <label class='menu-button-container' for="menu-toggle">
        <div class='menu-button'></div>
      </label>
      <ul class="menu">
        <li routerLink="/" routerLinkActive="active" class="hover" [routerLinkActiveOptions]="{exact: true}">Strona
          główna</li>
        <li class="hover">O mnie</li>
        <li routerLink="/wspolpraca" routerLinkActive="active" class="hover">Współpraca</li>
        <li routerLink="/kontakt" routerLinkActive="active" class="hover">Kontakt</li>
        <li class="hover" routerLink="/blog" routerLinkActive="active">Blog</li>
        <li class="hover" routerLink="/panel"> <i class="fas fa-user"></i> Strefa Podopiecznego</li>
        <li class="hover" *ngIf="isLoggedStatus" (click)="logout()">Wyloguj</li>
      </ul>
    </div>
  </nav>
</header>