.nav-item {
  letter-spacing: 1px;
}

.active {
  padding-bottom: 5px;
  background:
    linear-gradient(to right,
      #FCD307,
      #FC6B29 100%) left bottom no-repeat;
  background-size: 100% 5px;
}

.mr-5 {
  @media (max-width: 991px) {
    margin: 0 !important;
  }
}
