@import '~src/styles/custom';
@import '~src/styles/variables';
@import '~src/styles/mixins';

.nav-item {
  letter-spacing: 1px;
}

.active {
  padding-bottom: 5px;
  background:
    linear-gradient(40deg, $primary-color 0%, $secondary-color 100%) left bottom no-repeat;
  background-size: 100% 5px;
}

.mr-5 {
  @media (max-width: 991px) {
    margin: 0 !important;
  }
}
